.weather-app-five-day-button-container,
.weather-app-single-day-button-container {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 5px;
  bottom: 10px;
}

.weather-app-five-day-button,
.weather-app-single-day-button {
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 15px;
  padding: 20px 10px;
}

@media only screen and (max-width: 600px) {
  .weather-app-five-day-button-container,
  .weather-app-single-day-button-container {
    padding: 0px;
    width: 100%;
  }
  .weather-app-five-day-button,
  .weather-app-single-day-button {
    width: 100%;
    margin-top: 10px;
    background-color: white;
  }
}
