/* Five Day Forecast Styles */
.weather-app-five-day-button-container {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 5px;
  bottom: 10px;
}

.weather-app-five-day-button {
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 15px;
  padding: 20px 10px;
}
