* {
  font-family: Bebas Neue, cursive;
  letter-spacing: 3px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.weather-app-current-search--input {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  width: 100%;
  font-size: 20px;
}

.weather-app-current-search--input:focus {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.5s ease;
}

.weather-app-container {
  min-height: 100vh;
  background-size: cover;
  padding: 25px;
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.weather-app-current-result {
  text-align: center;
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.weather-app-current-result--city {
  font-size: 65px;
}
.weather-app-current-result--condition {
  font-size: 40px;
}

.weather-app-current-result--temp {
  font-size: 125px;
}
