* {
  font-family: Bebas Neue, cursive;
  letter-spacing: 3px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.weather-app-search--input {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.weather-app-search {
  display: flex;
}

.weather-app-search--input:focus {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.5s ease;
}

.weather-app-container {
  min-height: 100vh;
  background-size: cover;
  padding: 25px;
  background: #2f80ed; /* fallback for old browsers */
}

.weather-app-single-day-result {
  text-align: center;
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fadeIn 1.5s;
}

.weather-app-single-day-result--city {
  font-size: 65px;
}
.weather-app-single-day-result--description {
  font-size: 40px;
}

.weather-app-single-day-result--temperature {
  font-size: 125px;
}

.weather-app-five-day-result {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  animation: fadeInUp 1.5s;
}
.weather-app-five-day-result-li {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  font-size: 20px;
  text-align: center;
  list-style-type: none;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  flex: 1 0 18%; /* The important bit. This percentage decides your columns. 
  The percent can be px. It just represents your minimum starting width.
   */
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-app-five-day-result-li {
  flex: 1 0 18%; /* The important bit. This percentage decides your columns. 
The percent can be px. It just represents your minimum starting width.
 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-app-five-day-result-li-date {
  margin-bottom: 15px;
  font-size: 35px;
}

.weather-app-five-day-result-li--description {
  font-size: 25px;
}

.weather-app-five-day-result-li-date--time {
  font-size: 17px;
}

.weather-app-five-day-result-li {
  align-items: center;
  cursor: pointer;
}

.weather-app-five-day-result--title {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.weather-app-five-day-result-li--temp {
  font-size: 55px;
}

.weather-app-five-day-result-li--img[alt] {
  font-size: 15px;
  height: 90px;
}

.weather-app-single-day-result-ranges {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

/* all keyframes */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* keyframes end */

/* this needs work - not all small devices are 601px when set to landscape */
/* what is this device */
@media only screen and (min-device-width: 601px) and (max-device-width: 768px) {
  .weather-app-single-day-result {
    top: 70%;
  }
  .weather-app-single-day-result--city {
    font-size: 50px;
  }
  .weather-app-single-day-result--temperature {
    font-size: 100px;
  }
}

/* what is this device */
@media only screen and (max-width: 600px) {
  .weather-app-search {
    flex-direction: column;
  }
  .weather-app-search--input {
    font-size: 15px;
  }
  .weather-app-search--input::placeholder {
    color: grey;
  }
  .weather-app-single-day-result {
    top: 65%;
  }
  .weather-app-five-day-result-li--img[alt] {
    /* this size ensures alt text doesnt go out of box */
    font-size: 12px;
  }
  .weather-app-five-day-result-li {
    flex: 1 0 50%;
  }
}
