* {
  font-family: Bebas Neue, cursive;
  letter-spacing: 3px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.weather-app-search--input {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.weather-app-search {
  display: flex;
}

.weather-app-search--input:focus {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.5s ease;
}

.weather-app-container {
  min-height: 100vh;
  background-size: cover;
  padding: 25px;
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.weather-app-single-day-result {
  text-align: center;
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.weather-app-single-day-result--city {
  font-size: 65px;
}
.weather-app-single-day-result--description {
  font-size: 40px;
}

.weather-app-single-day-result--temperature {
  font-size: 125px;
}

.weather-app-five-day-result {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  margin-top: 25px;
}
.weather-app-five-day-result-li {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  font-size: 20px;
  text-align: center;
  list-style-type: none;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-app-five-day-result-li-date {
  margin-bottom: 15px;
}

.weather-app-five-day-result-li-date--time {
  font-size: 17px;
}

.weather-app-five-day-result-li {
  align-items: center;
}

.weather-app-five-day-result--title {
  text-align: center;
  font-size: 30px;
  margin: auto;
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.weather-app-five-day-result-li--temp {
  font-size: 35px;
}

.weather-app-five-day-result-li--img[alt] {
  font-size: 15px;
}

.weather-app-single-day-result-ranges {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

/* this needs work - not all small devices are 601px when set to landscape */
@media only screen and (min-device-width: 601px) and (max-device-width: 768px) {
  .weather-app-single-day-result {
    top: 70%;
  }
  .weather-app-single-day-result--city {
    font-size: 50px;
  }
  .weather-app-single-day-result--temperature {
    font-size: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .weather-app-search {
    flex-direction: column;
  }
  .weather-app-search--input {
    font-size: 15px;
  }
  .weather-app-search--input::placeholder {
    color: grey;
  }
  .weather-app-single-day-result {
    top: 65%;
  }
  .weather-app-five-day-result-li--img[alt] {
    /* this size ensures alt text doesnt go out of box */
    font-size: 12px;
  }
}
